.dropdown-menu {
    width: max-content;
    li {
        a {
            width: 100%;
            img {
                margin-right: 10px;
                height: 24px;
                width: 24px;
                border-radius: 50%
            }
            .md-icon {
                margin-right: 10px;
                height: 24px;
                width: 24px;
                border-radius: 50%
            }
            .avatar-wrapper {
                margin: 0 10px 0 0 !important;
            }
        }
    }
    li>a:focus,
    li>a:hover {
        .md-icon {
            color: $dropdown-bg!important;
        }
    }
}