.tooth {
    .set-anamnesis {
        .anamnesis {
            opacity: 0.4;
        }
    }
    .anamnesis {
        &.tooth-number {
            color: #5bc0de;
        }
        &.coronaLingualIncisalDistal,
        &.coronaLingualIncisalMiddle,
        &.coronaLingualIncisionMesial,
        &.coronaLingualMiddleDistal,
        &.coronaLingualMiddleMiddle,
        &.coronaLingualMiddleMesial,
        &.coronaLingualCervicalDistal,
        &.coronaLingualCervicalMiddle,
        &.coronaLingualCervicalMesial,
        &.coronaLabialIncisalDistal,
        &.coronaLabialIncisalMiddle,
        &.coronaLabialIncisionMesial,
        &.coronaLabialMiddleDistal,
        &.coronaLabialMiddleMiddle,
        &.coronaLabialMiddleMesial,
        &.coronaLabialCervicalDistal,
        &.coronaLabialCervicalMiddle,
        &.coronaLabialCervicalMesial,
        &.coronaTopBuccal,
        &.coronaTopMedial,
        &.coronaTopLingual,
        &.coronaTopDistal,
        &.coronaTopOclusial,
        &.implant,
        &.silant,
        &.crown,
        &.braces,
        &.root,
        &.bridge,
        &.veneer,
        &.silant {
            fill: #5bc0de !important;
            stroke: #020202;
        }
        &.periodontit {
            stroke-width: 2px;
        }
        &.coronaLingual,
        &.coronaTop,
        &.coronaLabial {
            stroke: #5bc0de;
            stroke-width: 2px;
        }
        &.rootCanal {
            stroke-width: 2px;
        }
        &.periodontit,
        &.rootCanal,
        &.bone {
            fill: lighten( #5bc0de, 83.5%)!important;
            stroke-width: 0;
            opacity: 0.6;
        }
        &.gum,
        &.paradontit1,
        &.paradontit2,
        &.paradontit3,
        &.paradontit4 {
            opacity: 1;
            stroke: #5bc0de;
            stroke-linejoin: round;
            stroke-width: 4px;
            fill: none !important;
        }
    }
}