.tooth {
    .set-diagnosis {
        .selected {
            opacity: 1;
            &.tooth-number {
                color: $brand-primary;
            }
            &.coronaLingualIncisalDistal,
            &.coronaLingualIncisalMiddle,
            &.coronaLingualIncisionMesial,
            &.coronaLingualMiddleDistal,
            &.coronaLingualMiddleMiddle,
            &.coronaLingualMiddleMesial,
            &.coronaLingualCervicalDistal,
            &.coronaLingualCervicalMiddle,
            &.coronaLingualCervicalMesial,
            &.coronaLabialIncisalDistal,
            &.coronaLabialIncisalMiddle,
            &.coronaLabialIncisionMesial,
            &.coronaLabialMiddleDistal,
            &.coronaLabialMiddleMiddle,
            &.coronaLabialMiddleMesial,
            &.coronaLabialCervicalDistal,
            &.coronaLabialCervicalMiddle,
            &.coronaLabialCervicalMesial,
            &.coronaTopBuccal,
            &.coronaTopMedial,
            &.coronaTopLingual,
            &.coronaTopDistal,
            &.coronaTopOclusial,
            &.rootCanal,
            &.periodontit,
            &.implant,
            &.veneer,
            &.silant,
            &.root,
            &.coronaLingual,
            &.coronaTop,
            &.coronaLabial {
                fill: $brand-primary !important;
                stroke: $brand-primary;
                &:hover {
                    stroke: lighten( $brand-primary, 83.5%);
                    stroke-width: 2px;
                    transition: all 0.2s ease-in-out;
                }
            }
            &.silant,
            &.veneer {
                stroke: #000;
                stroke-width: 0.45px;
            }
            &.gum,
            &.paradontit1,
            &.paradontit2,
            &.paradontit3,
            &.paradontit4 {
                opacity: 1;
                stroke: #f73403;
                stroke-linejoin: round;
                stroke-width: 4px;
                fill: none !important;
            }
        }
    }
}

.tooth {
    .set-procedures {
        .selected {
            opacity: 1;
            &.tooth-number {
                color: $brand-success;
            }
            &.coronaLingualIncisalDistal,
            &.coronaLingualIncisalMiddle,
            &.coronaLingualIncisionMesial,
            &.coronaLingualMiddleDistal,
            &.coronaLingualMiddleMiddle,
            &.coronaLingualMiddleMesial,
            &.coronaLingualCervicalDistal,
            &.coronaLingualCervicalMiddle,
            &.coronaLingualCervicalMesial,
            &.coronaLabialIncisalDistal,
            &.coronaLabialIncisalMiddle,
            &.coronaLabialIncisionMesial,
            &.coronaLabialMiddleDistal,
            &.coronaLabialMiddleMiddle,
            &.coronaLabialMiddleMesial,
            &.coronaLabialCervicalDistal,
            &.coronaLabialCervicalMiddle,
            &.coronaLabialCervicalMesial,
            &.coronaTopBuccal,
            &.coronaTopMedial,
            &.coronaTopLingual,
            &.coronaTopDistal,
            &.coronaTopOclusial,
            &.rootCanal,
            &.periodontit,
            &.implant,
            &.crown,
            &.bridge,
            &.root,
            &.coronaLingual,
            &.coronaTop,
            &.coronaLabial {
                fill: $brand-success !important;
                stroke: $brand-success;
                &:hover {
                    stroke: #90ce93;
                    stroke-width: 2px;
                    transition: all 0.2s ease-in-out;
                }
            }
            &.bone,
            &.braces,
            &.silant {
                fill: $brand-success !important;
                stroke: #000;
                stroke-width: 0.25px;
                &:hover {
                    stroke: #90ce93;
                    stroke-width: 1px;
                    transition: all 0.2s ease-in-out;
                }
            }
            &.veneer {
                fill: $brand-success !important;
            }
            &.silant,
            &.veneer {
                stroke: #000;
                stroke-width: 0.45px;
            }
            &.gum,
            &.paradontit1,
            &.paradontit2,
            &.paradontit3,
            &.paradontit4 {
                opacity: 1;
                stroke: $brand-success;
                stroke-linejoin: round;
                stroke-width: 4px;
                fill: none !important;
            }
        }
    }
}

.tooth {
    .set-anamnesis {
        .selected {
            opacity: 1;
            &.tooth-number {
                color: $brand-info;
            }
            &.coronaLingualIncisalDistal,
            &.coronaLingualIncisalMiddle,
            &.coronaLingualIncisionMesial,
            &.coronaLingualMiddleDistal,
            &.coronaLingualMiddleMiddle,
            &.coronaLingualMiddleMesial,
            &.coronaLingualCervicalDistal,
            &.coronaLingualCervicalMiddle,
            &.coronaLingualCervicalMesial,
            &.coronaLabialIncisalDistal,
            &.coronaLabialIncisalMiddle,
            &.coronaLabialIncisionMesial,
            &.coronaLabialMiddleDistal,
            &.coronaLabialMiddleMiddle,
            &.coronaLabialMiddleMesial,
            &.coronaLabialCervicalDistal,
            &.coronaLabialCervicalMiddle,
            &.coronaLabialCervicalMesial,
            &.coronaTopBuccal,
            &.coronaTopMedial,
            &.coronaTopLingual,
            &.coronaTopDistal,
            &.coronaTopOclusial,
            &.rootCanal,
            &.periodontit,
            &.implant,
            &.veneer,
            &.silant,
            &.crown,
            &.bridge,
            &.root,
            &.coronaLingual,
            &.coronaTop,
            &.coronaLabial {
                fill: $brand-info !important;
                stroke: $brand-info;
                &:hover {
                    stroke: #02d7f3;
                    stroke-width: 2px;
                    transition: all 0.2s ease-in-out;
                }
            }
            &.bone {
                fill: #02d7f3 !important;
                stroke-width: 0;
            }
            &.veneer,
            &.braces,
            &.silant {
                fill: #02d7f3 !important;
                stroke: #000;
                stroke-width: 0.25px;
                &:hover {
                    stroke: #02d7f3;
                    stroke-width: 1px;
                    transition: all 0.2s ease-in-out;
                }
            }
            &.gum,
            &.paradontit1,
            &.paradontit2,
            &.paradontit3,
            &.paradontit4 {
                opacity: 1;
                stroke: #f73403;
                stroke-linejoin: round;
                stroke-width: 4px;
                fill: none !important;
            }
        }
    }
}