.sidebar,
.off-canvas-sidebar {
    .navbar-minimize {
        position: initial;
        opacity: 1;
    }

    .logo {
        max-width: 260px;
        padding: 15px;
        position: relative;
        z-index: 4;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a.logo-mini {
            min-width: 40px;
            min-height: 40px;
            opacity: 1;
            top: 0;
            margin: 0 0 0 4px;
            .avatar-wrapper {
                margin: 0;
            }
        }

        a.logo-normal {
            display: block;
            opacity: 1;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 15px;
            height: 1px;
            width: calc(100% - 30px);
            background-color: rgba(180, 180, 180, 0.3);
        }

        p {
            float: left;
            font-size: 20px;
            margin: 10px 10px;
            color: $white-color;
            line-height: 20px;
        }
        .t-clinic-title {
            margin-left: 8px;
            text-transform: none !important;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .simple-text {
            text-transform: none;
            padding: $padding-small-vertical $padding-zero;
            display: inline-block;
            font-size: 18px;
            white-space: nowrap;
            font-weight: $font-weight-default;
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;

            &,
            &:hover,
            &:focus {
                color: $white-color !important;
            }

            .logo-img {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 34px;
                width: 34px;
                background: $white-color;
                border-radius: 50%;
                text-align: center;
                overflow: hidden;

                img {
                    width: 51%;
                    vertical-align: unset;
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
}

@media (min-width: 991px) {
    .sidebar-mini {
        .visible-on-sidebar-regular {
            display: none !important;
        }
        .visible-on-sidebar-mini {
            display: inline-block !important;
        }

        .navbar-minimize {
            opacity: 0;
        }

        .sidebar,
        .sidebar .sidebar-wrapper {
            width: 80px;
        }

        .main-panel {
            width: $sidebar-mini-width;
        }

        .sidebar {
            display: block;
            font-weight: 200;
            z-index: 9999;

            .logo {
                a.logo-normal {
                    opacity: 0;
                }
            }

            .sidebar-wrapper {
                > .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
                .user .user-info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
                .user .user-info > a > span,
                > .nav li > a p {
                    opacity: 0;
                }
            }
        }

        .sidebar:hover {
            width: 260px;

            .navbar-minimize {
                opacity: 1;
            }

            .logo {
                a.logo-normal {
                    opacity: 1;
                }
            }

            .sidebar-wrapper {
                width: 260px;

                > .nav li > a p,
                > .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
                .user .user-info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
                .user .user-info > a > span {
                    opacity: 1;
                }
            }
        }
    }
}
