@page {
    margin: 20mm;
}

.print-form thead {
      display: table-header-group;
  }
  .print-form tfoot {
      display: table-footer-group;
  }

  .print-form button {
      display: none;
  }

  body {
      margin: 0;
  }
  .print-form__page-header, .print-form__page-header-space {
    height: 100px;
  }
  
  .print-form__page-footer, .print-form__page-footer-space {
    height: 50px;
  
  }

.print-form__page-footer,
.print-form__page-header {
  position: fixed;
}

