    .md-table-head-label {
        padding-left: 24px;
        padding-right: 32px;
        font-weight: 300;
    }
    
    .just-added {
        animation-name: color_change;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-direction: alternate;
        .md-table-cell-container {
            animation-name: text_color_change;
            animation-duration: 3s;
            animation-iteration-count: 1;
            animation-direction: alternate;
        }
    }
    
    .to-delete {
        background-color: lighten($brand-warning, 43.5%) !important;
        -webkit-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;
    }
    
    .editable-mode {
        background-color: lighten($brand-info, 43.5%) !important;
        transition-duration: 300ms;
    }
    
    @keyframes color_change {
        from {
            background-color:$brand-success, 13.5%;
        }
        to {
            background-color: none;
        }
    }
    
    @keyframes text_color_change {
        from {
            color: rgba(0, 0, 0, 0.87);
        }
        to {
            color: rgba(0, 0, 0, 0.87);
        }
    }
    
    .md-tabs-content {
        .table-with-header table thead {
            display: table-header-group !important;
            .md-table-head.md-table-cell-selection {
                .md-table-head-label {
                    padding-right: 0;
                }
            }
        }
    }
    
    .md-tabs-content table thead {
        display: table-header-group !important;
    }
    
    .no-header table thead {
        display: none !important;
    }
    
    .small table {
        .md-table-cell {
            padding: 6px 4px;
            font-size: 13px;
            height: 33px;
        }
        .md-table-head {
            .md-table-head-label {
                font-size: 13px;
                height: 20px;
            }
        }
    }
    
    // .paginated-table .md-table-head-label:first-child {
    //     padding-right: 0;
    // }
    .text-right {
        .md-table-cell-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    
    .md-table:noty(.table-no-actions) .md-table-head:last-child {
        text-align: right;
    }
    
    .table-stats {
        display: flex;
        align-items: center;
        text-align: right;
        flex-flow: row wrap;
        .td-price .td-total {
            display: inline-flex;
            font-weight: 500;
            font-size: 1.0625rem;
            margin-right: 50px;
        }
        &.table-striped .td-price {
            border-bottom: 0;
        }
        .td-price {
            font-size: 26px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }
        .td-price,
        >div {
            flex: 0 0 100%;
            padding: 12px 8px;
        }
    }
    
    .table-shopping .md-table-head:nth-child(5),
    .table-shopping .md-table-head:nth-child(7),
    .table-shopping .md-table-head:nth-child(6) {
        text-align: right;
    }
    
    .table-no-actions .paginated-table .md-table-head:nth-child(6) {
        text-align: left !important;
    }
    .md-table {
        .md-checkbox.md-theme-default.md-checked .md-checkbox-container {
            background-color:$brand-primary;
            border-color:$brand-primary;
        }
        .cell-actions{
            .md-table-cell-container{
                display: flex;
                justify-content: flex-end;
            }
        }
        .cell-manipulations-total{
            .md-table-cell-container{
                display: flex;
                justify-content: flex-end;
                white-space: nowrap;
                align-items: baseline;
            }
        }
        .md-table-cell {
            padding: 0;
            .md-table-cell-container {
                padding-left: 20px;
                padding: 0 6px;
                .manip_title{
                    width: max-content;
                }
                .cell_actions{
                    display: flex;
                    justify-content: flex-end;
                }
                .md-numeric{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .avatarbox_name{
                    max-width:200px;
                    min-width:150px;
                    width: fit-content;
                }
                .manipulations-total{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .item-text{
                    width: fit-content;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 400px;
                    min-width: 300px;
                    // white-space: nowrap;
                }
                .teeth {
                    margin-right: 5px;
                    margin-left: 5px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    width: max-content;
                    max-width: 302px;
                    .tooth{
                        line-height: 1;
                        border: 1px solid #ffffff;
                        font-size: 12px;
                        color: #ffffff;
                        width: 19px;
                        height: 19px;
                        border-radius: 50%;
                        margin: 4px 1px;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                    }
                    .tooth.billing,
                    .tooth.procedures {
                        background: $brand-success;
                    }
                    .tooth.anamnesis {
                        background: $brand-info;
                    }
                    .tooth.diagnosis {
                        background: $brand-primary;
                    }
                    .tooth.md-warning {
                        background: $brand-warning;
                    }
                }
                .allergy_wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    .allergy {
                        width: fit-content;
                        border: 1px solid #fff;
                        font-size: 12px;
                        color: #ffffff;
                        min-width: 20px;
                        padding: 0px 6px;
                        height: 20px;
                        border-radius: 10px;
                        text-align: center;
                        line-height: 18px;
                        background: #f44336;
                    }
                }
                .price{
                    &_title, &_sub-title {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        justify-content: space-between;
                    }
                }
                .manipulations,
                .procedures {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 600px;
                    width: 100%;
                    overflow: hidden;
                    .items-manipulations_wrapper {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        max-width: 600px;
                        .text-left {
                            flex-wrap: nowrap;
                            flex: 5 0 200px;
                            max-width: 500px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        .text-right {
                            align-self: stretch;
                            max-width: 100px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            padding-left: 15px;
                            padding-right: 5px;
                            margin-left: auto;
                            min-width: fit-content;
                            width: auto;
                            justify-content: space-between;
                            display: flex
                        }
                    }
                }
            }
        }
        .md-table-toolbar{
            justify-content: space-between !important;
            padding: 0 !important;
            padding-top: 10px !important;
        
            .md-field {
              width: auto;
            }
          }
        
          &.md-table{
            display: grid;
          }
        
          .md-table-head:first-child{
            .md-table-head-label{
                font-size: 1.063rem;
                padding-right: 0px;
              }
          }
          .md-table-head.md-sortable .md-table-sortable-icon,
          .md-table-head.md-table-cell-selection+.md-sortable .md-table-sortable-icon {
            left: auto;
            right: 0;
          }
        
          .md-table-cell:last-child .md-table-cell-container,
          .md-table-head:last-child{
            // text-align: right !important;
            // display: flex;
            // justify-content: flex-end;
          }
        
          .md-table-head {
            padding: 0;
          }
        
          .md-table-head-container.md-ripple{
            padding: 5px;
            height: auto;
            overflow: hidden;
          }
        
          table>tbody>tr>td{
            // padding: 5px!important;
            outline: 0;
            // max-width: 150px;
            // width: 150px;
            border-right: 0;
            border-bottom: 0;
          }
        
          .md-table-head-label{
            font-size: 1.063rem;
            padding-right: 20px;
          }
        
          table>tbody>tr:first-child>td{
            border-top: 0 !important;
          }
        
          .md-btn-fab, .md-just-icon{
            height: 41px;
            min-width: 41px;
            width: 41px;
            // margin: .3125rem -10px;
          }
        
          .md-table-cell-container .md-button .md-button-content i{
            font-size: 18px !important;
          }
    }