.patient-select {
    .IZ-select__menu {
        min-width: unset !important;
    }
}

.no-margin {
    margin: 0 !important;
}

.with-action {
    .md-input-action {
        top: 8px;
        .md-button-content {
            background-color: transparent !important;
        }
    }
    input {
        margin-right: 41px !important;
    }
}

.IZ-select:after {
    height: 2px;
}

.IZ-select.no-after-no-before {
    &:after,
    &:before {
        display: none;
    }
}

.IZ-select:not(.no-margin) {
    margin: 6px 0 18px !important;
}

.IZ-select {
    min-width: 250px;
    .underline-progress-bar {
        position: absolute;
        width: 100%;
        top: 42px;
        height: 3px;
    }
    .IZ-select__input-wrap {
        width: 100%;
        overflow: visible;
        .IZ-select__input {
            // top: 5px;
            min-width: fit-content;
            padding: 0;
            align-items: center;
            display: flex;
            flex: 1 1 auto;
            flex-wrap: wrap;
            width: 100%;
            line-height: 1.5;
            color: #555555;
            background-color: transparent;
            background-clip: padding-box;
            background: none;
            border-radius: 2px;
            box-shadow: none;
            position: relative;
            background-size: 0%;
            transition: none;
            &:target {
                background-color: transparent !important;
                background-size: 0%;
            }
            &:active {
                background-color: transparent !important;
                background-size: 0%;
            }
            &:active:hover {
                background-color: transparent !important;
                background-size: 0%;
            }
            &:checked {
                background-color: transparent !important;
                background-size: 0%;
            }
            &:hover {
                background-color: transparent !important;
                background-size: 0%;
            }
            .IZ-selection {
                width: inherit;
                max-width: 90%;
                .IZ-selection__text {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            input {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 6px 0 0;
                width: 100%;
                height: 36px;
                padding: 7px 0px;
                font-size: 14px !important;
            }
            .input-end {
                position: absolute;
                right: 0;
            }
            button {
                top: 3px;
            }
        }
        .IZ-select__input--focused {
            background-color: transparent;
            &:hover {
                background-color: transparent !important;
            }
        }
        .IZ-select__input--has-menu {
            display: flex;
            align-items: stretch;
            .IZ-selection {
                max-width: 90%;
                flex-grow: 1;
            }
        }
    }
    .error {
        // display: block !important;
        opacity: 1;
        transform: translate3d(0, 6px, 0);
        color: #ff1744;
        font-size: 0.6875rem;
        line-height: normal;
        text-align: left;
        position: absolute;
        bottom: -14px;
        font-size: 12px;
        transition: 0.3s;
    }
    .IZ-select__menu {
        min-width: 62vw;
        top: 42px;
        .IZ-select__no-data {
            padding: 15px 0;
        }
        .IZ-select__menu-items {
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 7px;
                // background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(128, 128, 128, 0.63);
                border-radius: 7px;
            }
        }
        .IZ-select__item:not(.IZ-select__item--selected) {
            .IZ-select-button {
                opacity: 1 !important;
                color: #555555 !important;
                background-color: transparent !important;
                box-shadow: none;
            }
        }
        .IZ-select__item--selected {
            .IZ-select-button {
                color: white !important;
                background-color: #9c27b0 !important;
            }
        }
        .IZ-select__item {
            padding: 0;
            margin: 0 0.3125rem;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
            .btn-avatar {
                .md-ripple {
                    .md-button-content {
                        overflow: visible;
                    }
                }
            }
            .IZ-select-button:not(.btn-avatar) {
                .md-ripple {
                    .md-button-content {
                        overflow: hidden;
                    }
                }
            }
            .IZ-select-button {
                border-radius: 3px;
                flex-grow: 1;
                &:hover {
                    background-color: #9c27b0 !important;
                    color: #fff !important;
                }
                .md-ripple {
                    padding: 12px 6px !important;
                    .md-button-content {
                        text-transform: none;
                        width: 100%;
                        display: flex;
                        align-items: stretch;
                        .text-left {
                            text-align: left;
                            padding-right: 15px;
                            max-width: 90%;
                            flex-grow: 1;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        span {
                            font-size: 0.8rem;
                        }
                        .teeth {
                            display: flex;
                            flex-wrap: wrap;
                            .tooth {
                                width: fit-content;
                                border: 1px solid #fff;
                                font-size: 12px;
                                color: #ffffff;
                                min-width: 20px;
                                padding: 1px 6px;
                                height: 20px;
                                border-radius: 10px;
                                text-align: center;
                                line-height: 18px;
                            }
                            // .tooth:not(.md-primary):not(.md-success):not(.md-info):not(.md-warning) {
                            //     background: #f44336;
                            // }
                            .tooth.billing,
                            .tooth.procedures {
                                background: $brand-success;
                            }
                            .tooth.anamnesis {
                                background: $brand-info;
                            }
                            .tooth.diagnosis {
                                background: $brand-primary;
                            }
                            .tooth.md-warning {
                                background: $brand-warning;
                            }
                        }
                    }
                }
            }
        }
    }
}