
.print-form__wrapper {
    max-height: 60vh;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    background: rgba(238, 238, 238, 0.436);
}
.print-form {
    position: relative;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    // margin: 10mm;
    .hidable__header{
        opacity: 0.2;
    }

    &__page-footer {
        bottom: 0;
        width: 100%;
        border-top: 1px solid black; /* for demo */
        display: flex;
        position: absolute;
    }

    &__page-header {
        top: 0;
        width: 100%;
        border-bottom: 1px solid black; /* for demo */
        display: flex;
        position: absolute;
    }

    &__page {
        min-width: 20cm;
        padding-top: 5px;
        page-break-after: always;
        &__block:not(:first-child){
            // margin-top: 5px;
            // padding-top: 5px;
            // border-top: 1px solid rgba(128, 128, 128, 0.514);
        }
        &__block{

        }
    }
}
// .print-form {
    @media print {
        @page {
            margin: 10mm;
        };
        .hide-on-print{
            display: none;
        }
        .hide-on-print-actions{
            display: none;
        }
        .print-form thead {
            display: table-header-group;
        }
        .print-form tfoot {
            display: table-footer-group;
        }

        .print-form button {
            display: none;
        }

        body {
            margin: 0;
        }

        .print-form__page-footer,
        .print-form__page-header {
            position: fixed;
        }
    }
// }
