.A4page {
    background: white;
    display: block;
    margin: 0 auto;
}
.A4page[size="A4"] {
    width: 21cm;
    // height: auto;
    height: 29.7cm;
    width: 21cm;
    // max-height: calc(100vh - 300px);
    // overflow: hidden;
    // overflow-x: scroll;
    // overflow-y: scroll;
    // margin-left: 10mm;
    // margin-right: 10mm;
}
.print-form {
    position: relative;

    &__page-footer {
        // display: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 1px solid black; /* for demo */
        background: yellow; /* for demo */
        // display:flex;
    }

    &__page-header {
        // display: none;
        position: absolute;
        top: 0;
        width: 100%;
        border-bottom: 1px solid black; /* for demo */
        background: yellow; /* for demo */
        // display:flex;
    }

    &__page {
        page-break-after: always;
    }

}
