.print-form {
    .print_patient_bio {
        display: flex;
        align-items: top;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 2px solid rgba(128, 128, 128, 0.171);
        &__image {
            width: 100px;
            height: 100px;
            img{
                border: 1px solid rgba(128, 128, 128, 0.171);
                height: 100px;
            width: 100px;
            }
        }
        &__text {
            padding-top: 10px;
            padding-left: 20px;
            .allergy_wrapper {
                display: flex;
                flex-wrap: wrap;
                .allergy {
                    width: fit-content;
                    border: 1px solid #fff;
                    font-size: 12px;
                    color: #ffffff;
                    min-width: 20px;
                    padding: 0px 6px;
                    height: 20px;
                    border-radius: 10px;
                    text-align: center;
                    line-height: 18px;
                    background: #f44336;
                    font-weight: 400;
                }
            }
        }
    }
}
