.jaw-dialog-wrapper {
    .moving-tab {
        z-index: 12;
    }
    z-index: 10000;
    .md-card-actions {
        border-top: 1px solid #eeeeee;
    }
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(255, 255, 255);
        border-radius: 7px;
    }
    min-height: 80vh !important;
    max-height: 100vh !important;
    background-color: transparent !important;
    box-shadow: none;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-font-smoothing: antialiased !important;
    .md-dialog-container {
        padding: 0 9px;
    }
    .md-card-wizard {
        margin: 0;
        box-shadow: none;
    }
    .tab-content {
        padding: 0;
        min-height: 62vh;
        min-width: 70vw;
    }
    .md-highlight-text-match {
        border-radius: 2px;
        background-color: yellow !important;
        padding: 0 !important;
    }
    .wizard-add-diagnose-form {
        .md-card-header {
            text-align: left;
            .list-item {
                display: inline-block;
                margin-right: 10px;
            }
            .list-enter-active,
            .list-leave-active {
                transition: all 1s;
            }
            .list-enter,
            .list-leave-to/* .list-leave-active до версии 2.1.8 */
            {
                opacity: 0;
                transform: translateY(30px);
            }
        }
    }
    .wizard-tab-content {
        position: relative;
        max-height: 61vh;
        min-height: 61vh;
        height: 61vh;
        overflow-y: scroll;
        // overflow-x: scroll;
        &::-webkit-scrollbar {
            width: 7px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgb(138, 138, 138);
            border-radius: 7px;
        }
        .files-list {
            .md-table-cell {
                .md-table-cell-container {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .absolute-header-block,
        .wuswug-header {
            .md-toolbar {
                // border: 2px solid rgba(0, 0, 0, 0.3);
                background-color: rgb(236, 236, 236)!important;
                border-radius: 10px;
                // opacity: 0.95;
            }
            // opacity: 0.95;
            z-index: 10;
            position: sticky;
            top: 0;
            padding: 15px 0;
            @media screen and (max-width: 900px) {
                position: static;
            }
        }
        .manipulations-editor {
            position: inherit;
            width: 100%;
            // display: flex;
            // justify-content: space-between;
            background-color: rgb(228, 228, 228);
            border-radius: 10px;
            // margin-bottom: 3vh;
            // margin-top: 3vh;
            .manipulations-autocomplite {
                flex-grow: 1;
                // padding-right: 0.5vw;
                // padding-left: 0.5vw;
                input {
                    text-overflow: ellipsis;
                    padding-right: 0;
                }
                // .md-button {
                //     display: none;
                // }
            }
            .manipulations-input__action {
                // padding-right: 0.5vw;
                // padding-left: 0.5vw;
                max-width: 66px;
            }
            .manipulations-input {
                // padding-right: 0.5vw;
                // padding-left: 0.5vw;
                max-width: 100px;
                input {
                    max-width: 100%;
                }
            }
        }
        .manipulations-wrapper {
            // overflow-y: scroll;
            // max-height: 60vh;
            max-width: calc(100vw - 60px);
            &::-webkit-scrollbar {
                width: 7px;
                // background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background-color: grey;
                border-radius: 7px;
            }
            .md-tabs-content table thead {
                display: table-header-group !important;
            }
            position: relative;
            // max-width: 70vw;
            .md-menu-content {
                z-index: 13;
                min-width: 300px;
            }
            .md-highlight-text-match {
                border-radius: 2px;
                background-color: yellow !important;
                padding: 0 !important;
            }
            .content-wrapper {
                .md-table-content {
                    // max-height: calc(100vh - 450px)!important;
                    // max-height: 47vh!important;
                }
            }
        }
        .jaw-list-wrapper {
            min-width: 57vw;
            .loc-error {
                color: red;
                white-space: nowrap;
                width: 100%;
                text-align: center;
            }
            .md-toolbar {
                // padding: 0px 0px 0px 0;
                // margin-right: -15px;
                div :not(.md-toolbar)>.md-field:not(.md-chips) {
                    margin-top: 0px;
                }
                .dropdown-menu li {
                    padding: 0px 0px 0px 16px;
                }
                .jaw-settings {
                    max-width: 300px;
                }
            }
            .jaw-list-container {
                overflow-y: auto;
                overflow-x: auto;
                margin: 0;
                height: 49vh;
                // padding: 15px 0 15px 0;
                // min-height: 52vh;
                &::-webkit-scrollbar {
                    height: 7px;
                    // background-color: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: rgb(146, 146, 146);
                    border-radius: 20px;
                }
                .jaw {
                    margin: 0 !important;
                    // padding-top: 10px !important;
                    // padding-bottom: 10px !important;
                    // max-height: 52vh;
                    // min-height:  52vh;
                    display: flex;
                    flex-direction: column;
                    // padding: 15px;
                    border-radius: 5px;
                    .tooth {
                        height: 100%;
                        display: block;
                        .tooth-number {
                            border: none;
                            padding-top: 1vh;
                            font-size: 1.8em;
                            font-weight: 400;
                            overflow: show;
                            left: 50%;
                            text-align: center;
                        }
                    }
                    .tooth.selected {
                        transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
                        transition-property: all;
                        background-color: rgba(153, 153, 153, 0.37);
                        border: 0;
                        .tooth-number {
                            color: rgb(255, 255, 255);
                        }
                    }
                    .tooth:not(.selected) {
                        transition-property: all;
                        transition-duration: 0.5s;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                        transition-delay: 0s;
                        .tooth-number {
                            color: #3c4858 !important;
                        }
                    }
                    .jaw-list {
                        // max-height: 52vh;
                        // min-height: 52vh;
                        display: flex;
                        .tooth-enter,
                        .tooth-leave-to
                        /* .tooth-leave-active for <2.1.8 */
                        {
                            opacity: 0;
                            transform: scale(0);
                        }
                        .tooth-enter-to {
                            opacity: 1;
                            transform: scale(1);
                        }
                        .tooth-leave-active {
                            /*position: absolute;*/
                        }
                        .tooth-move {
                            opacity: 1;
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
        .tooth-locations-wrapper {
            min-width: 70vw !important;
        }
    }
}