.t-toolbar {
    background-color: #ececec !important;
    border-radius: 10px;
    flex-grow: 1;
    align-items: stretch;
    margin: 20px 5px;
    overflow: auto;
    // overflow-x: scroll;
    // overflow: hidden;
    // overflow-y: scroll;
    &::-webkit-scrollbar {
        height: 7px;
        // background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: grey;
        border-radius: 7px;
    }
    &__section:not(:first-child) {
        text-align: right;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__section:first-child {
        justify-content: flex-start;
        justify-content: space-between;
    }
    &__section {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;
        justify-content: space-between;
        // min-width: 200px;
    }
    &__section-text:not(:first-child) {
        white-space: nowrap;
        &:first-child {
            flex-grow: 1;
            display: flex;
            align-self: flex-end;
            justify-content: flex-end;
        }
        // max-width: 30%;
        text-overflow: ellipsis;
        // white-space: nowrap;
    }
    .md-toolbar .md-field:after,
    .md-toolbar .md-field:before {
        bottom: 1px;
    }
    // .md-menu {
        // position: absolute;
        // top: 15px;
        // right: 15px;
    // }
}